// Theme Colors
$primary: #214E34;
$primary-100: #8FBC94;
$secondary: #214E34;
$secondary-100: #8FBC94;

// B&W
$black: #000000;
$white: #ffffff;

// Neutral
$grey-10: #537485;
$grey-20: #668492;
$grey-30: #7993A0;
$grey-40: #8CA3AD;
$grey-50: #C3D5DF;
$grey-60: #E6EFF4;
$grey-70: #EAF1F6;
$grey-80: #F1F6F9;
$grey-90: #F8FAFC;

// Success
$success-10: #096735;
$success-20: #107D38;
$success-30: #1A9B3E;
$success-40: #26B941;
$success-50: #34D844;
$success-60: #63E764;
$success-70: #8DF384;
$success-80: #BCFBAE;
$success-90: #E0FDD6;

// Info
$info-10: #003371;
$info-20: #004889;
$info-30: #0165AA;
$info-40: #0187CB;
$info-50: #02AEED;
$info-60: #3ED0F4;
$info-70: #65E6F9;
$info-80: #98F7FD;
$info-90: #CBFEFD;

// Warning
$warning-10: #694100;
$warning-20: #7F5200;
$warning-30: #9D6A00;
$warning-40: #BC8400;
$warning-50: #DBA000;
$warning-60: #E9BF3A;
$warning-70: #F4D461;
$warning-80: #FBE896;
$warning-90: #FDF5CA;

// Error
$error-10: #620613;
$error-20: #770B12;
$error-30: #941211;
$error-40: #B12619;
$error-50: #CE3F23;
$error-60: #E17655;
$error-70: #F09E78;
$error-80: #FAC7A7;
$error-90: #FCE6D2;

// Shadow
$shadow-10: #00649E;
$shadow-20: #00598C;
$shadow-30: #004E7A;
$shadow-40: #004369;
$shadow-50: #003858;
$shadow-60: #002C46;
$shadow-70: #002134;
$shadow-80: #001623;
$shadow-90: #000B11;

// Tint
$tint-10: #1A7DB7;
$tint-20: #338CBF;
$tint-30: #4D9AC7;
$tint-40: #66A9CF;
$tint-50: #80B7D7;
$tint-60: #99C5DF;
$tint-70: #B3D4E7;
$tint-80: #CCE2EF;
$tint-90: #E6F1F7;

// Misc
$transition: all 0.5s ease-in-out;

// Fonts
$primary-font: 'Poppins', sans-serif;
